* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}
ul {
    list-style: none;
}
ul li {
    display: inline;
}
@font-face {
    font-family: 'MilleniaPersonalUse';
    src: url('.../Bootstrap/Fonts/MilleniaPersonalUse-w1OB8.ttf');
}
/*********** LocalBazzar Css Start **************/
.fa-envelope, .fa-phone, .fa-user {
    padding-right: 2px;
}
.fa-facebook-f {
    color: white;
    width: 22px;
    height: 22px;
    padding: 3px;
    text-align: center;
    border: 1px solid white;
    border-radius: 100%;
}
.fa-instagram, .fa-linkedin-square {
    color: white;
    width: 23px;
    height: 23px;
    padding: 3px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid white;
    border-radius: 100%;
}
/* Contactinfo css start */
.contact_info {
    width: 100%;
    padding: 4px 0;
    background-color: #f46c6c;
}
.cont-txt {
    font-size: 12px;
}
.cont-txt:last-child {
    padding-left: 10px;
}
.social_icons {
    display: table;
    width: 100%;
    height: 100%;
    text-align: right;
}
.login {
    margin-right: 20px;
}
.login > a {text-decoration: none; color: white}
/*.logo {
    width: 150px;
    height: 80px;
    background: url('../Images/Localbazzarlogo.png');
    background-size: cover;
    background-position: center;
}*/
/* Contactinfo css end */

/* Header css start */
header {
    width: 100%;
/*    background: #E6ECEE;*/
    background: #EEF1F5;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}
.searchItem {
    display: table;
    width: 100%;
    height: 100%;
    text-align: right;
}
.search_Box {
    position: relative;
    display: inline-flex;
    height: 40px;
    background: white;
    padding-left: 4px;
    border-radius: 40px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    right: 20px;
}
.search_Box > .searchInput {
    /*display: none;*/
    width: 0px;
    height: 40px;
    outline: none;
    border: 0;
    border-radius: 40px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.4s linear;
}
.search_Box > .searchInput::-webkit-input-placeholder {
    font-size: 14px;
    padding-left: 8px;
}
.search_Box > .searchIcon {
    text-decoration: none;
    color: black;
    padding: 0 12px;
}
.search_Box > .searchIcon .fa-search {
    font-size: 16px;
}
.search_Box:hover  .searchInput {
    width: 240px;
    padding: 3px 14px;
}
.cart {
    font-size: 20px;
}
.Aboutus {
    outline: none;
    border: 0;
    background: #f46c6c;
    color: white;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 14px;
    margin-right: 10px;
}
.Aboutus > .fa-sort-down {
    line-height: 1.4;
}
/* Header css end */

/* Navigation css start */
.navigation {
    width: 100%;
    background: #EEF1F5;
}
.nav_list {
    margin-bottom: 5px;
}
.nav_list .nav-item {
    text-decoration: none;
    font-size: 14px;
}
.nav_list .list-item {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}
/*.nav_list .list-item .nav-item > img {
    width: 60px;
    height: 60px;
    padding: 8px;
    margin: 0 0px;
}*/
.nav_list .list-item .nav-item > p {
    padding: 0;
    text-align: center;
    line-height: 1.0;
    color: black;
    font-family: 'MilleniaPersonalUse';
    font-size: 15px;
}
.nav_list .list-item:hover .fa-sort-down {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: royalblue;
}
.list-item:hover .dropdown_list{
    display: block;
}
.dropdown_list {
    display: none;
    width: 230px;
    background: white;
    padding: 8px 0;
    position: absolute;
    top: 22px;
    z-index: 10000;
    box-shadow: 4px 0px 8px 0px rgba(0,0,0,0.2);
}
.dropdown_nav_list > .dd_list-item {
    display: block;
}
.dropdown_nav_list > .dd_list-item > .dd_nav-item {
    display: block;
    color: black;
    font-size: 16px;
    padding: 10px 0;
    text-decoration: none;
}
.dd_list-item:hover .sub_dropdown_list {
    display: block;
}
.sub_dropdown_list {
    display: none;
    width: 210px;
    background: white;
    padding: 8px 0;
    position: absolute;
    top: 22px;
    left: 100%;
    z-index: 1;
    box-shadow: 6px 0px 8px 0px rgba(0,0,0,0.2);
}
.Subdropdown_nav_list > .sdd_list-item {
    display: block;
}
.Subdropdown_nav_list > .sdd_list-item > .sdd_nav-item {
    display: block;
    color: black;
    font-size: 16px;
    padding: 10px 0;
    text-decoration: none;
}
.fa-caret-right {
    display: inline-block !important;
    float: right;
    margin-right: 10px;
}
/* Navigation css End */

/* Banner css start */
.banner {
    width: 100%;
    margin-top: -15px;
}
/* Banner css end */

/* Deliveryinfo css start */
.deliveryInfo {
    width: 100%;
    background: #EEF1F5;
}
.service-Info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin: auto;
}
.service-Info > .service-img {
    height: 50px;
}
.service-Info h6 {
    padding: 0px 8px;
    margin: 0;
}
.service-Info p {
    line-height: 1.3;
    padding: 0px 8px;
    margin-top: 0px;
    font-size: 14px;
}
.border-div {
    border-right: 1px solid #ccc;
}
.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Loging css start */
.model-body-01:target {
    display: block;
}
.model-body-01 {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.body {
    padding: 10px 0;
}
.model001 {
    width: 350px;
    height: auto;
    padding: 20px;
    background: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.5);*/
}
.header h4 {
    display: inline-block;
}
.closeBtn {
    display: inline-block;
    text-decoration: none;
    float: right;
    font-size: 30px;
    font-weight: bold;
    line-height: 0.8;
}
.loginBtn {
    display: block;
    border: 0;
    outline: 0;
    width: 310px;
    padding: 8px;
    background-color: #64b5f6;
    margin: 10px auto;
    color: white;
    /*box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.2);*/
}
.signupBtn {
    display: block;
    text-decoration: underline;
    font-size: 12px;
    color: black;
    font-weight: 500;
}
.localBazzer_caption {
    text-align: left;
    color: black;
    padding-top: 60px;
}
.localBazzer_caption p {
    font-size: 16px;
}
.localBazzer_caption p > span {
    font-size: 20px;
    font-weight: 500;
}
.ShopNow-LocalBazzer {
    display: block;
    border: 0;
    outline: 0;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.2);
}
.carousel_Content {
    position: relative;
}
.carousel-caption_LocalBazzer {
    position: absolute;
    top: 0;
    bottom: 0;
}
.MoreDropdown-list {
    display: none;
    width: 220px;
    height: auto;
    background: white;
    padding: 15px 0;
    margin-top: 8px;
    position: absolute;
    z-index: 1000;
}
/*.Aboutus:active ~ .MoreDropdown-list {
    display: block;
}*/
.MoreDropdown-list .nav_list_more {
    list-style: none;
}
.MoreDropdown-list .list-item-more {
    display: block;
    text-align: left;
}
.MoreDropdown-list .list-item-more .nav-item-more {
    text-decoration: none;
    color: black;
}
.MoreDiv {
    display: inline-block;
    position: relative;
}
/* Loging css end */

/* Deliveryinfo css end */

/* Product Feature start */
.productFeature {
    position: relative;
}
.productFeature h3 {
   padding: 30px 10px;
   text-align: center;
}

.productFeature h3::before {
    content: '';
    display: block;
    width: 260px;
    height: 2px;
    background: black;
    position: absolute;
    left: 50%;
    top: 68%;
    transform: translate(-50%, -50%);
}

.product_List {
    display: flex;
    justify-content: center;
}
.ShoppingDiv {
    display: inline-block;
    padding: 5px 20px;
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-size: 16px
}
.ShoppingDiv.active {
    background: black;
    color: white;
}
.slider_one {
    width: 100%;
    float: left;
}
.Slider_LocalBazzar_Product {
    padding: 30px;
}
.slider_one {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.product_profile_card {
    width: 300px;
}
.product_profile_card .discrip {
    color: #ccc;
    font-size: 13px;
}
.product_profile_card > h4 {
    padding-top: 8px;
}
.product_profile_card > p {
    font-size: 20px;
}
    .product_profile_card > p del {
        font-size: 12px;
        color:#ccc;
    }
    .product_profile_card > p span {
        font-size: 15px;
        font-weight: 500;
        color: green;
    }
.buyNow {
    border: 0;
    outline: 0;
    width: 140px;
    padding: 5px 0;
    background-color: transparent;
    border: 2px solid #f46c6c;
    border-radius: 4px;
    transition: 0.3s;
}
    .buyNow:hover {
        background: #f46c6c;
        color: white;
    }
.product_Img_001, .product_Img_002, .product_Img_003 {
    width: 330px;
    height: 250px;
}
.product_Img_001 {
    background: url('../Images/productImg/Image0001.jpg');
    background-size: cover;
    background-position: center;
}
.product_Img_002 {
    background: url('../Images/productImg/Image0002.jpg');
    background-size: cover;
    background-position: center;
}
.product_Img_003 {
    background: url('../Images/productImg/Image0003.jpg');
    background-size: cover;
    background-position: center;
}
